<section>
  <!-- section service réservation borne -->
  <div class="flex flex-col md:flex-row md:justify-between items-center my-20  max-w-screen-xl m-auto ">
    <!-- image main telephone -->
    <div class="order-2 md:order-0 ms-28 md:ms-0 ">
      <img src="/images/mobile-main.webp" alt="image d'une main qui tiens un téléphone"
        class="  md:h-[450px] md:w-[480px]">
    </div>
    <!-- titre et texte -->
    <div class=" flex flex-col md:-ms-96  w-[350px] h[200px] md:w-[550px] md:h[450px]">
      <div class="  mb-5 flex ">
        <h2 class="text-3xl md:text-5xl text-vert-foncee font-semibold text-right leading-14 ">Vous cherchez une borne de
          recharge privée
          et sécurisée</h2>
      </div>
      <!-- list mode desktop -->
      <div class="hidden md:block">
        <ul class="space-y-4 text-xl font-semibold text-right">
          <li>Planifiez votre trajet</li>
          <li>Choisissez votre borne</li>
          <li>Réservez la recharge</li>
          <li>Réglez votre charge</li>
        </ul>
      </div>
    </div>

    <!-- Bouton réserver -->
    <div class="order-4 flex flex-col items-center ">
      <div class="h-38 w-38">
        <img src="/images/feuille.webp" alt="image d'une feuille d'arbre">
      </div>
      <div>
        <a href="#" class="btn-reserver">Réserver une borne</a>
      </div>
    </div>
    <!-- list mode mobile -->
    <div class="md:hidden block order-3 me-28 mt-5 ">
      <ul class="space-y-4 text-xl font-semibold">
        <li>Planifiez votre trajet</li>
        <li>Choisissez votre borne</li>
        <li>Réservez la recharge</li>
        <li>Réglez votre charge</li>
      </ul>
    </div>
  </div>

  <!-- section service location borne  -->
  <div class="flex flex-col md:flex-row justify-center items-center px-10 md:p-0 md:max-w-screen-xl md:m-auto md:gap-10 mb-10">

    <div class="flex flex-col justify-center md:w-1/2 gap-5 ">
      <!-- titre -->
      <h2 class="text-3xl md:text-5xl text-bleu-foncee font-semibold leading-12 ">Rejoignez le réseau de recharge de bornes privées
      </h2>

      <img src="/images/Recharge-voiture-electrique.webp" alt=" image d'une borne éléctrique auto"
        class="rounded-2xl shadow-xl w-[350px] md:w-[550px] md:hidden">

      <!-- texte -->
      <p class="text-right md:text-start leading-14 md:leading-8 font-semibold text-xl ">Avec <strong class="text-bleu-electrique ">Electricity </strong><strong
          class="text-vert-clair">Business</strong>, localisez et réservez des bornes de recharge chez des particuliers.
        Si vous disposez d’une borne de recharge, inscrivez-la sur le service et faites grandir la communauté.
        <strong class="text-bleu-electrique">Electricity </strong><strong class="text-vert-clair">Business</strong> est
        une application gratuite développée pour les véhicules électriques de toutes marques.
      </p>

      <!-- bouton -->
      <div class="flex justify-center md:justify-start">
        <a href="#" class="btn-proposer">Proposer ma borne</a>
      </div>
    </div>
    <!-- image -->
    <div class=" md:w-1/2  justify-center items-center  hidden md:block mb-10">
      <img src="/images/Recharge-voiture-electrique.webp" alt=" image d'une borne éléctrique auto"
        class="rounded-2xl shadow-xl h-full">
    </div>
  </div>
</section>     