<section>
  <!-- section service location borne  -->
  <div class="flex flex-col md:flex-row justify-center items-center px-10 md:p-0 md:max-w-screen-xl md:m-auto md:gap-10 mb-10">

    <div class="flex flex-col justify-center md:w-1/2 gap-5 ">
      <!-- titre -->
      <h2 class="text-3xl md:text-5xl text-bleu-foncee font-semibold leading-12 ">Rejoignez le réseau de recharge de bornes privées
      </h2>

      <img src="/images/Recharge-voiture-electrique.webp" alt=" image d'une borne éléctrique auto"
        class="rounded-2xl shadow-xl w-[350px] md:w-[550px] md:hidden">

      <!-- texte -->
      <p class="text-right md:text-start leading-14 md:leading-8 font-semibold text-xl ">Avec <strong class="text-bleu-electrique ">Electricity </strong><strong
          class="text-vert-clair">Business</strong>, localisez et réservez des bornes de recharge chez des particuliers.
        Si vous disposez d’une borne de recharge, inscrivez-la sur le service et faites grandir la communauté.
        <strong class="text-bleu-electrique">Electricity </strong><strong class="text-vert-clair">Business</strong> est
        une application gratuite développée pour les véhicules électriques de toutes marques.
      </p>

      <!-- bouton -->
      <div class="flex justify-center md:justify-start">
        <a href="#" class="btn-proposer">Proposer ma borne</a>
      </div>
    </div>
    <!-- image -->
    <div class=" md:w-1/2  justify-center items-center  hidden md:block mb-10">
      <img src="/images/Recharge-voiture-electrique.webp" alt=" image d'une borne éléctrique auto"
        class="rounded-2xl shadow-xl h-full">
    </div>
  </div>
</section>  
