<section>
  <!-- contenu hero mobile -->
  <div class="bg-[url(/images/hero-mobile.webp)] bg-cover bg-right  h-[650px]  md:hidden">
    <!-- contenu hero mobile -->
    <div class="flex flex-col gap-3 px-10 justify-center items-center  h-full ">
      <!-- titre "rechargez" -->
        <h1 class="text-5xl text-bleu-foncee font-semibold ps-5">Rechargez</h1>
      <!-- borne + suite texte  -->
      <div class="flex ">
        <!-- Image de la borne -->
          <img src="/images/born.webp" alt="image d'une borne de recharge auto" class="h-auto w-auto">
        <!-- titre suite "votre avenir" -->
        <div class="flex flex-col gap-3">
            <p class="text-5xl text-bleu-foncee  font-semibold text-right">votre</p>
            <p class="text-5xl text-bleu-foncee font-semibold ">avenir</p>
        </div>
      </div>
      <!-- texte hero -->
      <div class="w-full flex justify-center">
        <p class="font-semibold leading-10 text-center ">Trouvez et réservez des bornes de recharge électrique près de chez vous, ou mettez
          votre propre borne à disposition.</p>
      </div>
      <!-- boutons -->
      <div class="flex flex-col gap-2 justify-center w-full ">
          <button class="btn-reserver">Réserver</button>
          <button class="btn-proposer">Proposer</button>
      </div>
    </div>
  </div>

  <!-- Contenu hero desktop -->
  <div class="bg-[url(/images/font-hero.webp)] bg-cover bg-center  md:h-[750px] hidden md:block -mt-28 ">
    <!-- contenu général hero-->
    <div class="flex h-full items-center md:max-w-screen-xl md:m-auto">
      <!-- contenu hero gauche-->
      <div class="flex flex-col w-1/2">
        <!-- contenu haut titre + feuille -->
        <div class="flex mb-5">
          <!-- titre hero -->
          <div class="flex flex-col">
            <div class="w-full pr-16">
              <h1 class="text-5xl text-bleu-foncee  font-semibold ">Rechargez</h1>
            </div>
            <div class="w-full pr-16">
              <p class="text-5xl text-bleu-foncee  font-semibold text-right">votre</p>
              <p class="text-5xl text-bleu-foncee  font-semibold text-right">avenir</p>
            </div>
          </div>
          <!-- feuille hero -->
          <div>
            <img src="/images/feuille.webp" alt="image feuille d'arbre" class="h-36">
          </div>
        </div>
        <!-- contenu bas borne + texte -->
        <div class="flex items-end -mt-20  mb-10">
          <!-- borne hero -->
          <div>
            <img src="/images/born.webp" alt="image d'une borne de recharge auto" class="w-44">
          </div>
          <!-- texte hero -->
          <div class="text-right ps-10 ">
            <p>Trouvez et réservez des bornes de recharge électrique près de chez vous, ou mettez votre propre borne à
              disposition.</p>
          </div>
        </div>
        <!-- boutons -->
        <div class="flex justify-between ">
            <button class="btn-reserver ">Réserver une borne</button>
            <button class="btn-proposer">Proposer ma borne</button>
        </div>
      </div>

      <!-- div vide hero droite -->
      <div class="w-1/2">

      </div>
    </div>

  </div>
</section>