db.url=jdbc:mysql://localhost:3306/electricity_business
db.username=eb_user
db.password=Eb!2025@Secure#DB

jpa.ddl=update

jwt.secret=Gs7Pp93nQx2V8rLmB1zE4tYk9WwRf8HsD3jK6nB2xF7vT0pQ9cM4hR1sX8dU5qZ

mail.host=smtp.gmail.com
mail.port=587
mail.username=u5032366771@gmail.com
mail.password=rcchehlgqdwlqlju

upload.folder=/var/www/uploads

max.file.size=10MB
max.request.size=20MB


