<section>
  <div class="flex flex-col md:flex-row md:justify-center items-center my-20  max-w-screen-xl m-auto gap-30 ">
    <!-- titre et texte -->
    <div class=" flex flex-col w-[350px] h[200px] md:w-[500px] md:h-full space-y-20 ">
      <div class="flex ">
        <h2 class="text-3xl md:text-5xl text-vert-foncee font-semibold leading-14 md:leading-20 ">Trouvez les bornes de recharge
          disponibles près de chez vous en un clin d'œil.</h2>
      </div>
      <div>
        <p class=" md:text-start leading-14 md:leading-10 font-semibold text-xl ">Avec <strong
            class="text-bleu-electrique">Electricity </strong><strong class="text-vert-clair">Business</strong>,
          localisez et réservez des bornes de recharge chez des particuliers. Notre carte vous permet de visualiser en
          temps réel les bornes de recharge à proximité, avec des informations sur leur disponibilité et leurs
          caractéristiques.</p>
      </div>

    </div>
    <!-- Map et barre de recherche -->
    <div class="order-2 md:order-0 ms-28 md:ms-0 md:w-[650px] md:h-full ">
      <div class="flex justify-center itzems-center gap-5 p-5">
        <input class="w-2/3 rounded-lg" type="search" placeholder="Entrer une adresse">
        <a href="#"><img src="icons/filter.svg" alt="icone du bouton filter"></a>
      </div>
      <img src="/images/map.png" alt="image d'une main qui tiens un téléphone" class=" md:w-full">
    </div>

  </div>
</section>