<section>
  <div class="m-auto mb-20 flex  max-w-screen-xl flex-col items-center px-4 md:justify-center md:px-0">
    <!-- titre + fuille -->
    <div class="flex flex-col md:flex-row justify-center items-center space-y-6 ">
      <!-- titre témoignage -->
      <div class="order-2 md:order-1">
        <div class="flex items-center justify-center">
          <span class="md:pt-3"><img src="/icons/title.svg" alt="Icone de titre"></span>
          <h2 class="font-bold text-2xl md:text-3xl px-2 text-text-gris">Témoignages</h2>
          <span class="md:pb-3"><img src="/icons/title.svg" alt="Icone de titre" class="rotate-180"></span>
        </div>
        <p class="text-center font-semibold">Ce que nos utilisateurs en disent !</p>
      </div>
      <!-- image feuille d'arbre -->
      <div class="order-1 -mb-10 md:mb-0 ">
        <img src="images/feuille.webp" alt="image d'une feuille d'arbre " class="w-22">
      </div>
    </div>
    <!-- Cards testimonial -->
    <div class="flex flex-col md:flex-row justify-between items-center gap-10 px-4 md:p-0">
      <!-- Cards n°1-->
      <div
        class="shadow-lg w-full h-[330px] md:w-[350px] md:h-[300px] px-10 rounded-[20px] space-y-4 flex flex-col justify-center items-end">
        <!-- photo profil et étoiles -->
        <div class="flex justify-around items-center gap-5 w-full">
          <img src="images/visage.png" alt=" photo de profil">
          <div class="flex">
            <svg class="w-8 h-8 text-yellow-500 fill-current" viewBox="0 0 20 20">
              <path
                d="M10 15l-5.878 3.09 1.123-6.505L.27 7.264l6.53-.95L10 0l3.198 6.313 6.53.95-4.925 4.327 1.123 6.505z" />
            </svg>
            <svg class="w-8 h-8 text-yellow-500 fill-current" viewBox="0 0 20 20">
              <path
                d="M10 15l-5.878 3.09 1.123-6.505L.27 7.264l6.53-.95L10 0l3.198 6.313 6.53.95-4.925 4.327 1.123 6.505z" />
            </svg>
            <svg class="w-8 h-8 text-yellow-500 fill-current" viewBox="0 0 20 20">
              <path
                d="M10 15l-5.878 3.09 1.123-6.505L.27 7.264l6.53-.95L10 0l3.198 6.313 6.53.95-4.925 4.327 1.123 6.505z" />
            </svg>
            <svg class="w-8 h-8 text-yellow-500 fill-current" viewBox="0 0 20 20">
              <path
                d="M10 15l-5.878 3.09 1.123-6.505L.27 7.264l6.53-.95L10 0l3.198 6.313 6.53.95-4.925 4.327 1.123 6.505z" />
            </svg>
            <svg class="w-8 h-8 text-yellow-500 fill-current" viewBox="0 0 20 20">
              <path
                d="M10 15l-5.878 3.09 1.123-6.505L.27 7.264l6.53-.95L10 0l3.198 6.313 6.53.95-4.925 4.327 1.123 6.505z" />
            </svg>
          </div>

        </div>
        <p>Grâce à Electricity Business, j'ai pu trouver une borne de recharge en un clin d'œil lors de mon voyage.
          C'est vraiment pratique et fiable !</p>
        <p class="font-bold text-bleu-foncee text-right">Sophie Durand</p>
      </div>
      <!-- Cards n°1-->
      <div
        class="shadow-lg  w-full h-[330px] md:w-[350px] md:h-[300px] px-10 rounded-[20px] space-y-4 flex flex-col justify-center items-end">
        <!-- photo profil et étoiles -->
        <div class="flex justify-around items-center gap-5 w-full">
          <img src="images/visage.png" alt=" photo de profil">
          <div class="flex">
            <svg class="w-8 h-8 text-yellow-500 fill-current" viewBox="0 0 20 20">
              <path
                d="M10 15l-5.878 3.09 1.123-6.505L.27 7.264l6.53-.95L10 0l3.198 6.313 6.53.95-4.925 4.327 1.123 6.505z" />
            </svg>
            <svg class="w-8 h-8 text-yellow-500 fill-current" viewBox="0 0 20 20">
              <path
                d="M10 15l-5.878 3.09 1.123-6.505L.27 7.264l6.53-.95L10 0l3.198 6.313 6.53.95-4.925 4.327 1.123 6.505z" />
            </svg>
            <svg class="w-8 h-8 text-yellow-500 fill-current" viewBox="0 0 20 20">
              <path
                d="M10 15l-5.878 3.09 1.123-6.505L.27 7.264l6.53-.95L10 0l3.198 6.313 6.53.95-4.925 4.327 1.123 6.505z" />
            </svg>
            <svg class="w-8 h-8 text-yellow-500 fill-current" viewBox="0 0 20 20">
              <path
                d="M10 15l-5.878 3.09 1.123-6.505L.27 7.264l6.53-.95L10 0l3.198 6.313 6.53.95-4.925 4.327 1.123 6.505z" />
            </svg>
            <svg class="w-8 h-8 text-yellow-500 fill-current" viewBox="0 0 20 20">
              <path
                d="M10 15l-5.878 3.09 1.123-6.505L.27 7.264l6.53-.95L10 0l3.198 6.313 6.53.95-4.925 4.327 1.123 6.505z" />
            </svg>
          </div>
        </div>
        <p>Grâce à Electricity Business, j'ai pu trouver une borne de recharge en un clin d'œil lors de mon voyage.
          C'est vraiment pratique et fiable !</p>
        <p class="font-bold text-bleu-foncee text-right">Sophie Durand</p>
      </div>
      <!-- Cards n°1-->
      <div
        class="shadow-lg w-full h-[330px] md:w-[350px] md:h-[300px] px-10 rounded-[20px] space-y-4 flex flex-col justify-center items-end">
        <!-- photo profil et étoiles -->
        <div class="flex justify-around items-center gap-5 w-full">
          <img src="images/visage2.png" alt=" photo de profil">
          <div class="flex">
            <svg class="w-8 h-8 text-yellow-500 fill-current" viewBox="0 0 20 20">
              <path
                d="M10 15l-5.878 3.09 1.123-6.505L.27 7.264l6.53-.95L10 0l3.198 6.313 6.53.95-4.925 4.327 1.123 6.505z" />
            </svg>
            <svg class="w-8 h-8 text-yellow-500 fill-current" viewBox="0 0 20 20">
              <path
                d="M10 15l-5.878 3.09 1.123-6.505L.27 7.264l6.53-.95L10 0l3.198 6.313 6.53.95-4.925 4.327 1.123 6.505z" />
            </svg>
            <svg class="w-8 h-8 text-yellow-500 fill-current" viewBox="0 0 20 20">
              <path
                d="M10 15l-5.878 3.09 1.123-6.505L.27 7.264l6.53-.95L10 0l3.198 6.313 6.53.95-4.925 4.327 1.123 6.505z" />
            </svg>
            <svg class="w-8 h-8 text-yellow-500 fill-current" viewBox="0 0 20 20">
              <path
                d="M10 15l-5.878 3.09 1.123-6.505L.27 7.264l6.53-.95L10 0l3.198 6.313 6.53.95-4.925 4.327 1.123 6.505z" />
            </svg>
            <svg class="w-8 h-8 text-yellow-500 fill-current" viewBox="0 0 20 20">
              <path
                d="M10 15l-5.878 3.09 1.123-6.505L.27 7.264l6.53-.95L10 0l3.198 6.313 6.53.95-4.925 4.327 1.123 6.505z" />
            </svg>
          </div>
        </div>
        <p>Je mets ma borne à disposition sur Electricity Business et je suis ravi ! Cela me permet de rentabiliser mon
          installation et de rendre service à d'autres conducteurs.</p>
        <p class="font-bold text-bleu-foncee text-right">Pierre Martin</p>
      </div>
    </div>
  </div>
</section>