<section>
  <div class="px-4 pt-38 sm:ml-80 md:px-10">
    <!-- TITRE -->
    <div class="mb-10 text-center md:text-start">
      <h1 class="text-2xl font-bold text-bleu-foncee">Mes bornes</h1>
      <p class="text-xl text-bleu-electrique">Gérer vos bornes</p>
    </div>

    <!-- CARTES -->
    <div class="flex flex-col items-center gap-10 md:flex-row md:flex-wrap md:items-start mb-20">
      <div *ngFor="let station of ownedStations" class="w-full max-w-md rounded-lg bg-white p-6 shadow-md">
        <!-- HEADER -->
        <div class="mb-3 flex items-start justify-between">
          <h2 class="text-2xl font-semibold text-bleu-foncee">
            {{ station.nameStation }}
          </h2>

          <button (click)="deleteStation(station.id!)" class="text-red-500 hover:text-red-700">
            <img src="/icons/delete.svg" alt="Bouton supprimer" class="h-4 w-4" />
          </button>
        </div>

        <!-- IMAGE + INFOS -->
        <div class="flex items-center justify-between gap-6">
          <!-- IMAGE -->
          <img [src]="station.picture.src" alt="Borne" class="h-24 w-24 rounded-lg object-cover" />

          <!-- INFOS -->
          <div class="flex flex-col gap-1 text-sm text-right">
            <p>
              <span class="font-medium">Connecteur :</span>
              <span class="text-bleu-electrique font-semibold">Type 2</span>
            </p>

            <p>
              <span class="font-medium">Puissance :</span>
              <span class="text-bleu-electrique font-semibold">
                {{ station.power }} kW
              </span>
            </p>

            <p>
              <span class="font-medium">Tarif :</span>
              <span class="text-bleu-electrique font-semibold">
                {{ station.pricePerHour }} € / h
              </span>
            </p>
          </div>
        </div>

        <!-- DISPONIBILITÉS -->
        <div *ngIf="station.timeslots.length" class="mt-6 border-t pt-6">
          <p class="mb-2 text-xl font-medium text-gray-500">
            Disponibilités :
          </p>

          <ul class="space-y-1">
            <li *ngFor="let availability of station.timeslots" class="text-sm text-bleu-electrique font-medium">
              • {{ availability.dayOfWeek }} :
              {{ availability.startTime.slice(0,5) }}
              →
              {{ availability.endTime.slice(0,5) }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>