<section id="proposer" class="scroll-mt-32 py-12">
  <div
    class="max-w-screen-xl m-auto mb-20 flex flex-col md:flex-row items-center md:justify-center gap-10 px-4 md:px-0"
  >
    <!-- Texte -->
    <div class="flex flex-col justify-center space-y-6 md:w-1/2">
      
      <!-- Titre -->
      <h2
        class="text-bleu-foncee text-3xl md:text-5xl font-semibold leading-14 md:leading-20 text-center md:text-start"
      >
        Rejoignez le réseau de recharge de bornes privées
      </h2>

      <!-- Image mobile uniquement -->
      <img
        src="/images/Recharge-voiture-electrique.webp"
        alt="Image d'une borne électrique auto"
        class="rounded-2xl shadow-xl md:hidden"
      />

      <!-- Texte descriptif -->
      <p
        class="text-xl font-medium leading-14 text-center md:text-start md:leading-14"
      >
        Avec 
        <strong class="text-bleu-electrique">Electricity</strong>
        <strong class="text-vert-clair">Business</strong>, localisez et réservez 
        des bornes de recharge chez des particuliers.  
        Si vous disposez d’une borne de recharge, inscrivez-la sur le service 
        et faites grandir la communauté.
        <strong class="text-bleu-electrique">Electricity</strong>
        <strong class="text-vert-clair">Business</strong>
        est une application gratuite ouverte à tous les véhicules électriques.
      </p>

      <!-- Bouton -->
      <div class="flex justify-center md:justify-start">
        <a href="#" class="btn-proposer">Proposer ma borne</a>
      </div>
    </div>

    <!-- Image desktop -->
    <div class="hidden md:flex md:w-1/2 justify-center items-center">
      <img
        src="/images/Recharge-voiture-electrique.webp"
        alt="Image d'une borne électrique auto"
        class="rounded-2xl shadow-xl"
      />
    </div>

  </div>
</section>
