<section id="proposer" class="scroll-mt-32">
  <!-- section service location borne  -->
  <div
    class="m-auto mb-20 flex max-w-screen-xl flex-col items-center px-4 md:flex-row md:justify-center md:gap-10 md:px-0"
  >
    <div class="flex flex-col justify-center space-y-6 md:w-1/2">
      <!-- titre -->
      <h2
        class="text-bleu-foncee text-center text-3xl leading-14 font-semibold md:text-start md:text-5xl md:leading-20"
      >
        Rejoignez le réseau de recharge de bornes privées
      </h2>
      <!-- image mode mobile -->
      <img
        src="/images/Recharge-voiture-electrique.webp"
        alt=" image d'une borne éléctrique auto"
        class="rounded-2xl shadow-xl md:hidden"
      />
      <!-- texte -->
      <p
        class="text-center text-xl leading-14 font-medium md:text-start md:leading-14"
      >
        Avec <strong class="text-bleu-electrique">Electricity </strong
        ><strong class="text-vert-clair">Business</strong>, localisez et
        réservez des bornes de recharge chez des particuliers. Si vous disposez
        d’une borne de recharge, inscrivez-la sur le service et faites grandir
        la communauté. <strong class="text-bleu-electrique">Electricity </strong
        ><strong class="text-vert-clair">Business</strong> est une application
        gratuite développée pour les véhicules électriques de toutes marques.
      </p>

      <!-- bouton -->
      <div class="flex justify-center md:justify-start">
        <a href="#" class="btn-proposer">Proposer ma borne</a>
      </div>
    </div>
    <!-- image -->
    <div class="mb-10 hidden items-center justify-center md:block md:w-1/2">
      <img
        src="/images/Recharge-voiture-electrique.webp"
        alt=" image d'une borne éléctrique auto"
        class="rounded-2xl shadow-xl"
      />
    </div>
  </div>
</section>
