<section id="proposer" class="scroll-mt-32 py-12">
  <div
    class="m-auto mb-20 flex max-w-screen-xl flex-col items-center gap-10 px-4 md:flex-row md:justify-center md:px-0"
  >
    <!-- Texte -->
    <div class="flex flex-col justify-center space-y-6 md:w-1/2">
      <!-- Titre -->
      <h2
        class="text-bleu-foncee text-center text-3xl leading-14 font-semibold md:text-start md:text-5xl md:leading-20"
      >
        Rejoignez le réseau de recharge de bornes privées
      </h2>

      <!-- Image mobile uniquement -->
      <img
        src="/images/Recharge-voiture-electrique.webp"
        alt="Image d'une borne électrique auto"
        class="rounded-2xl shadow-xl md:hidden"
      />

      <!-- Texte descriptif -->
      <p
        class="text-center text-xl leading-14 font-medium md:text-start md:leading-14"
      >
        Avec
        <strong class="text-bleu-electrique">Electricity</strong>
        <strong class="text-vert-clair">Business</strong>, localisez et réservez
        des bornes de recharge chez des particuliers. Si vous disposez d’une
        borne de recharge, inscrivez-la sur le service et faites grandir la
        communauté.
        <strong class="text-bleu-electrique">Electricity</strong>
        <strong class="text-vert-clair">Business</strong>
        est une application gratuite ouverte à tous les véhicules électriques.
      </p>

      <!-- Bouton -->
      <div class="flex justify-center md:justify-start">
        <button class="btn-proposer" (click)="propose.emit()">
          Proposer ma borne
        </button>
      </div>
    </div>

    <!-- Image desktop -->
    <div class="hidden items-center justify-center md:flex md:w-1/2">
      <img
        src="/images/Recharge-voiture-electrique.webp"
        alt="Image d'une borne électrique auto"
        class="rounded-2xl shadow-xl"
      />
    </div>
  </div>
</section>
