<section>
  <div class="my-28 flex flex-col gap-5 px-4 sm:ml-80 md:p-10">
    <!-- Titre bienvenue -->
    <div class="text-center sm:text-start" *ngIf="user">
      <h1 class="pb-2 text-sm sm:text-lg md:text-2xl">Bienvenue, {{ user.firstName }} !</h1>
      <p class="text-base sm:text-lg md:text-xl text-gray-300">Vous êtes dans votre espace personnel</p>
    </div>

    <!-- Carte map -->
    <div class="flex w-full items-center justify-center">
      <img src="/images/map-dashboard.png" alt="" class="w-full h-[150px] sm:h-[250px] md:h-[400px]" />
    </div>

    <!-- Les 2 cartes principaux -->
    <div class="mb-4 flex flex-col justify-center gap-10 sm:flex-col md:flex-row">
      <!-- Card mes recharges en cours -->
      <div class="flex w-full flex-col items-center justify-center gap-5">
        <h2 class="text-vert-foncee text-center text-xl sm:text-2xl md:text-3xl font-medium">
          Mes recharges en cours
        </h2>
        <div class="rounded-2xl flex flex-col gap-5 bg-gray-50 p-5 shadow-xl w-full sm:w-[80%] md:w-[400px]">
          <div *ngFor="let booking of currentBookings.slice(0, 2)">
            <h3 class="text-vert-clair text-lg sm:text-xl md:text-2xl font-medium text-center">
              {{ booking.chargingStation?.nameStation }}
            </h3>
            <div class="flex flex-col space-y-2 p-5">
              <div class="flex flex-wrap gap-2 justify-center sm:justify-start">
                <p>{{ booking.chargingStation?.locationStation?.address }}</p>
                <p>{{ booking.chargingStation?.locationStation?.postaleCode }}</p>
                <p>{{ booking.chargingStation?.locationStation?.city }}</p>
              </div>
              <p>{{ booking.startDate | date: "fullDate" }}</p>
              <div class="flex space-x-2 justify-center sm:justify-start">
                <span>{{ booking.startDate | date: 'shortTime' }} → {{ booking.endDate | date: 'shortTime' }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Card mes bornes en location -->
      <div class="flex w-full flex-col items-center justify-center gap-5">
        <h2 class="text-bleu-foncee text-center text-xl sm:text-2xl md:text-3xl font-medium">
          Mes bornes en location
        </h2>
        <div class="rounded-2xl flex flex-col gap-5 bg-gray-50 p-5 shadow-xl w-full sm:w-[80%] md:w-[400px]">
          <div *ngFor="let station of ownedStations">
            <h3 class="text-bleu-electrique text-lg sm:text-xl md:text-2xl font-medium text-center">
              {{ station.nameStation }}
            </h3>
            <div *ngFor="let customer of station.bookings" class="flex flex-col space-y-2 p-5">
              <div class="flex flex-wrap gap-2">
                <p>Louer à : <span class="font-semibold">{{ customer.user.name }}</span></p>
              </div>
              <p>{{ customer.startDate | date: "fullDate" }}</p>
              <div class="flex space-x-2 justify-center sm:justify-start">
                <p>{{ customer.startDate | date: 'shortTime' }}</p>
                <span>→</span>
                <p>{{ customer.endDate | date: 'shortTime' }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
