.map-wrapper {
  height: 60vh;
  min-height: 350px;
  max-height: 600px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  inset: 0;
}
